<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper" styple="margin-top: 2%">
    <!--    <h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div
      class="footer-col-wrapper"
      ,
      style="display: flex; justify-content: space-between"
    >
      <!--      <div class="footer-col footer-col-1">-->
      <!--        <ul class="contact-list">-->
      <!--          {%- if site.email -%}-->
      <!--          &lt;!&ndash;          <li class="p-name">&ndash;&gt;-->
      <!--          <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>-->
      <!--          &lt;!&ndash;          </li>&ndash;&gt;-->
      <!--          {%- endif -%}-->
      <!--        </ul>-->
      <!--      </div>-->
      <!-- class 属性可以包含 空格分隔的多个类名 -->
      <div class="footer-col footer-col-4" style="color: darkgray">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>
